section{
   display: flex;

}
body{
    font-family: 'Poppins', sans-serif;
}
h1{ font-size: 50px;
    
}
.orange-color{
  color:rgb(255, 153, 0);
}
div{
    width: 50%;
}
.link-button{
    text-decoration:none;
    background-color: orange;
}
h2{
    color: orange;
}
.experience-area{
 width: 50%;
border: 5px;
margin-left: 5%;
margin-right: 5%;
border-radius: 10px;
box-shadow:  10px 10px 40px;
padding: 20px;
background-position: right;

}
